/* computer */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
body, html{
	overflow: hidden;
}
body{
	margin: 0;
}

.sidenav{
  display: none;
}
header{
	display: flex;
	flex-direction: row;
	height: 12.5vh;
	width: 100vw;
	background-color: #D21010;
	box-shadow: 0px 1px 3px 0px #1c2024;
}
.nav1{
 display: none;
}
.nav2{
	display: none;
}
h1{
	margin-left: 1vw;
	font-family: sans-serif;
	color: white;
	margin-top: 4vh;
	font-size: 40px;
}
.desktopnav{
	height: 5vh;
	display: flex;
	flex-direction: row;
	width: 100vw;
}
.com {
	margin-top: 1vh;
	font-family: sans-serif;
	margin-left: 2vw;
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.com:hover, .com:active{
font-size: 20px;
transition: 0.2s;
}
/* template end */
.nxtlsn{
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
	font-weight: bold;
}
.desktops{
 text-align: center;
 font-family: sans-serif;
 font-weight: bold;
 font-size: 25px;
 background-color: #D21010;
 width: 10vw;
 height: 5vh;
 justify-content: center;
 margin-left: 45vw;
 margin-top: 7vh;
 box-shadow: 0px 1px 3px 0px #1c2024;
 border-radius: 25px;
 text-decoration: none;
 color:white;
}
.checkin {
display: none;
}
.latte{
	display: none;
}
.hide{
	display: none;
}
input{
	display: none;

}
.toresult{
display: none;
}
.latte{
	display:none;
}
.hide{
	display: none;
}
.popup{
	
}
}
/* iphone 6 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

html, body {
	overflow: hidden;
}

body {
	margin: 0;
	display: flex;
	flex-direction: row;
}
header {
	display: flex;
	flex-direction: row;
	background-color: #D21010;
	width: 100vw;
	height: 8vh;
	justify-content: space-between;
	box-shadow: 0px 1px 15px 0px #1c2024;
}
h1{
	font-family: sans-serif;
	color: white;
	margin-right: 145px;
}
.desktopnav {
	display: none !important;
}
.searcshadow {
	display: none;
}
.sidenav {
	width: 80vw;
	height: 100vh;
	overflow: hidden;
	background-color: white;
}

.sidenav_sit1 {
	margin-right: 20vw;
}

.sidenav_sit3 {
	animation: slideback .5s 1;
	animation-fill-mode: forwards;
}

.sidenav_sit2 {
	animation: slideforward .5s 1;
	animation-fill-mode: forwards;
}

.visible {
	display: none;
}

@keyframes slideforward {
	0% {margin-right: 20vw;}
	100% {margin-right: -80vw;}
}
@keyframes slideback {
	0% {margin-right: -80vw;}
	100% {margin-right: 20vw;}
}
	
}
h2{
	font-size: 18px;
	font-family: sans-serif;
	color: white;
	text-align: left;
	margin-left: 10px;
}

.maymay{
	width: 24px;
	height: 24px;	
}

;
}
.jobbig{
	font-family: sans-serif;
	font-size: 20px;
	font-weight: none;
	text-decoration: none;
	color: black;
}
.sidenav a {
	display: flex;
	flex-direction: row;
	width: 200px;
	height: 40px;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: black;
	margin-top: 50px;
	margin-left: 15px;
}
.nxtlsn{
	font-family: sans-serif;
	font-weight: bold;
	margin-left: 110px;

}
.desktops{
font-family: sans-serif;
text-decoration: none;
color: white;
margin-left: 150px;
font-weight: bold;
background-color: #D21010;
border-radius: 25px;
width: 100px;
}
.popup{
	display: none;
}
}
